
.cart-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 6px;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(50%, -50%);
    display: inline-block;
    z-index: 1;
}

.nav-item {
    position: relative;
}

.item-event {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-event:hover {
    transform: scale(1.05); /* Memperbesar elemen sedikit */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan lebih jelas */
}